<div class="wrapper-normal">
    <div class="header-home">
        <div>
            <img class="selfie" alt="Mona" src="{{ site.url }}/images/profpic2.jpeg">
        </div>
        <div class="social-links">
            <a class="social" href="https://github.com/jesslynnjane">
                <i class="fab fa-github">
                </i>
            </a>
            <a class="social" href="https://www.linkedin.com/in/jesslyn-jane/">
                <i class="fab fa-linkedin-in">
                </i>
            </a>
            <a class="social" href="https://www.kaggle.com/jesslynjane">
                <i class="fab fa-kaggle fa-sm">
                </i>
            </a>
            <a class="social" href="https://scholar.google.com/citations?user=eYpXJkcAAAAJ&hl=id">
                <i class="fab fa-google">
                </i>
            </a>
            <a class="social" href="https://www.instagram.com/jesslynnjane/">
                <i class="fab fa-instagram">
                </i>
            </a>
            <a class="social" href="https://jesslynjanek.wixsite.com/jesslynjaneee/jsteak">
                <i class="far fa-window-maximize">
                </i>
            </a>
        </div>
        <p class="description">Geologist / Data & GIS Enthusiast / Artist / Traveller</p>

    </div>

</div>