<div class="wrapper-normal">
    <div class="header-home">
        <div>
            <img class="selfie" alt="Mona" src="{{ site.url }}/images/profpic2.jpeg">
        </div>
        <div class="social-links">
            <a class="social" href="https://github.com/jesslynnjane">
                <i class="fab fa-github">
                </i>
            </a>
            <a class="social" href="https://www.linkedin.com/in/jesslyn-jane/">
                <i class="fab fa-linkedin-in">
                </i>
            </a>
            <a class="social" href="https://www.kaggle.com/jesslynjane">
                <i class="fab fa-kaggle fa-sm">
                </i>
            </a>
            <a class="social" href="mailto:jesslyn.jane.k@gmail.com">
                <i class="fa fa-envelope">
                </i>
            </a>
            <a class="social" href="https://www.instagram.com/jesslynnjane/">
                <i class="fab fa-instagram">
                </i>
            </a>
        </div>
        <p class="description">Geologist / Data Enthusiast / Traveller</p>

    </div>

</div>